figures/
project/
.bloop/
.metals/
.vscode/
**.aux
**.bbl
**.blg
**.fdb_latexmk
**.fls
**.idx
**.ilg
**.ind
**.lof
**.log
**.lol
**.lot
**.out
**.pdf
**.toc
**.synctex.gz
**.nav
**.snm
**.vrb
code/
target/
test_run_dir/
