figures/
project/
.bloop/
.metals/
.vscode/
chisel-book.aux
chisel-book.bbl
chisel-book.blg
chisel-book.fdb_latexmk
chisel-book.fls
chisel-book.idx
chisel-book.ilg
chisel-book.ind
chisel-book.lof
chisel-book.log
chisel-book.lol
chisel-book.lot
chisel-book.out
chisel-book.pdf
chisel-book.toc
code/
target/
test_run_dir/
