name: Chisel Book Continuous Integration

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  run-tests:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
    - name: Setup sbt
      uses: sbt/setup-sbt@v1
    - name: apt update
      run: sudo apt update
    - name: Setup Verilator
      run: sudo apt-get install verilator
    - name: Setup z3
      run: sudo apt-get install z3
    - name: Setup Latex
      run: sudo apt-get install texlive-full
    - name: Run tests and build the book
      run: make
